@font-face {
	font-family: "Montserrat";
	src: url("C:\Users\пк\Desktop\Fonts\montserrat-bold-webfont.woff2") format("woff2"),
		 url("C:\Users\пк\Desktop\Fonts\montserrat-bold-webfont.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("C:\Users\пк\Desktop\Fonts\montserrat-medium-webfont.woff") format("woff"),
		 url("C:\Users\пк\Desktop\Fonts\montserrat-medium-webfont.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("C:\Users\пк\Desktop\Fonts\montserrat-semibold-webfont.woff2") format("woff2"),
         url("C:\Users\пк\Desktop\Fonts\montserrat-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("C:\Users\пк\Desktop\Fonts\montserrat-regular-webfont.woff2") format("woff2"),
         url("C:\Users\пк\Desktop\Fonts\montserrat-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* Шапка */

.header__link {
	font-family: "Montserrat";
	font-weight: 600;
}

.header__wrapper {
	font-family: "Montserrat";
	font-weight: 600;
}

/* Домашний экран */

.character__item_big {
	font-family: "Montserrat";
	font-weight: 600;
}

.character__item_small {
    font-family: "Montserrat";
	font-weight: 400;
}

.btn__item_link {
	font-family: "Montserrat";
	font-weight: 700;
}

.button__item_link {
	font-family: "Montserrat";
	font-weight: 700;
}

/* Третий экран*/

.star {
	font-family: "Montserrat";
	font-weight: 700;
}

.score {
	font-family: "Montserrat";
	font-weight: 600;
}

.safe-body {
	font-family: "Montserrat";
	font-weight: 600;
}