/* Шрифты */
@font-face {
  font-family: "Montserrat";
  src:
    url("Fonts/Montserrat-Bold.otf") format("opentype"),
    url("Fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("Fonts/Montserrat-Medium.otf") format("opentype"),
    url("Fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("Fonts/Montserrat-SemiBold.otf") format("opentype"),
    url("Fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("Fonts/Montserrat-Regular.otf") format("opentype"),
    url("Fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body { font-family: Montserrat, sans-serif; }

/* Desktop */

/* Шапка */
.header {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

/* Домашний экран */
.section-main__title {
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
}

.section-main__subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.character__item {
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
}

.character__desc-little {
  font-size: 20px;
  line-height: 24px;
}

.character__desc-small {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.button__link,
.button__link_info {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

/* Второй экран */
.section-desc__title {
  font-size: 68px;
  line-height: 85px;
}

.text__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.text__content {
  font-weight: 500;
  font-size: 14px;
  line-height: 18.4px;
}

.text__item_big {
  font-weight: 600;
  font-size: 35px;
  line-height: 30px;
}

.character__desc-medium {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

/* Третий экран */
.text__aside {
  font-weight: 600;
  font-size: 50px;
  line-height: 30px;
}

.score__span {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.section-desc__block {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}

.star__title_add {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
}

.safe-body { font-weight: 600; }

/* Адаптив первой секции */
@media (max-width: 1130px) {
  .section-main__title { font-size: 85px; }
}

@media (max-width: 768px) {
  .section-main__title { font-size: 90px; }

  .character__item {
    font-size: 51px;
    line-height: 50px;
  }

  .character__desc-little { font-size: 20px; }

  .button__link { font-size: 16px; }
}

@media (max-width: 700px) {
  .character__item { font-size: 40px; }
}

@media (max-width: 510px) {
  .section-main__title { font-size: 80px; }
}

@media (max-width: 375px) {
  .section-main__title { font-size: 50px; }

  .section-main__subtitle { font-size: 10px; }

  .character__item {
    font-size: 28px;
    line-height: 39px;
  }

}

/* Адаптив второй секции */
@media (max-width: 1265px) {
  .text__title { font-size: 27px; }

  .text__content { font-size: 13px; }

  .character__desc-medium { font-size: 18px; }

  .button__link_info { font-size: 12px; }
}

@media (max-width: 990px) {
  .section-desc__title { font-size: 62px; }
}

@media (max-width: 768px) {
  .section-desc__title {
    font-size: 68px;
    line-height: 65px;
    font-weight: 600;
  }

  .text__title { font-size: 30px; }

  .text__content {
    font-size: 14px;
    line-height: 18.4px;
  }

  .text__item_big {
    font-size: 35px;
    line-height: 40px;
  }

  .character__desc-little { font-size: 20px; }

  .character__desc-small { font-size: 12px; }

  .character__desc-medium { font-size: 20px; }

  .button__link,
  .button__link_info { font-size: 16px; }
}

@media (max-width: 726px) {
  .text__title { font-size: 28px; }

  .text__content {
    font-size: 12px;
    line-height: 17.4px;
  }

  .button__link,
  .button__link_info { font-size: 13px; }
}

@media (max-width: 650px) {
  .text__title { font-size: 24px; }
}

@media (max-width: 605px) {
  .text__title { font-size: 22px; }

  .text__content { font-size: 11px; }

  .text__item_big { font-size: 28px; }

  .character__desc-medium { font-size: 17px; }
}

@media (max-width: 525px) {
  .text__title { font-size: 29px; }

  .text__content {
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 375px) {
  .character__desc-little { font-size: 15px; }

  .character__desc-small {
    font-size: 10px;
    line-height: 2px;
  }
}

@media (max-width: 341px) {
  .text__title { font-size: 26px; }
}

/* Адаптив третьей секции */
@media (max-width: 768px) {
  .section-desc__block {
    font-weight: 700;
    font-size: 17px;
  }

  .star__title_add { font-size: 10px; }
}

@media (max-width: 656px) {
  .section-desc__block { font-size: 13px; }

  .star__title_add { font-size: 6px; }
}
