body {
	margin: 0 auto;
	max-width: 1440px;
}

a {
	text-decoration: none;
}


/*@media (min-width:1281px) {*/
	
	/* Шапка */

	.header {
		height: 103px;
		width: 94%;
		display: flex;
		align-items: center;
		margin: 0 auto 30px;
	}

	.header__wrapper_logo {
		width: 27%;
		margin-right: 58px;
	}
	.header__menu {
		display: flex;
		width: 68%;
		justify-content: space-between;
	}
	.header__wrapper_item {
		width: 53%;
		display: flex;
		justify-content: space-between;
	}
	.header__link,
	.button__item_link {
		color: #000;
	}
	.header__wrapper {
		width: 23%;
		display: flex;
		justify-content: center;
	}
	.header__wrapper_link {
		margin-right: 31px;
	}

	.burger {
		/*height: 100%;*/
	}
	.burger:hover {
		cursor: pointer;
	}
	.burger__icon {
		display: block;
		height: 2px;
		width: 25px;
		background-color: #E51937;
		margin-bottom: 5px;
		border-radius: 0 0 5px 5px;
	}

	.header__link:focus {
		color: #E51937;
		border-bottom: 2px solid #E51937;
		border-radius: 2.5px;
	}

	/* Первый экран*/

	.section-main__title {
		margin: 0 auto;
		text-align: center;
		height: 101px;
	}
	.section-main__subtitle {
		text-align: center;
		margin-bottom: 26px;
	}
	.section-main {
		height: 767px;
	}
	.section-main__img {
		margin-bottom: 24px;
	}
	.section-main__modelS-logo {
		margin: 0 auto;
		width: 72%;
		z-index: 1;
	}
	.car-logo {
		width: 93%;
	}
	.section-main__logo {
		position: absolute;
		width: 100%;
		top: 134px;
		z-index: 0;
	}
	.main-logo_big {
		width: 95%;
	}
	
	.section-main__wrapper {
		display: flex;
		margin:0 auto;
		width: 55.45%;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;
	}

	.section-main__wrapper_character,
	.character,
	.btn_test-drive {
		display: flex;
	}
	.section-main__wrapper_character {
		width: 47%;
		justify-content: space-between;
	}
	.character__item_icon,
	.btn__item_icon {
		margin-right: 6px;
	}
	.btn_test-drive {
		width: 23%;
		justify-content: flex-end;
	}
	.button__item_link, 
	.button__item_link1 {
		text-transform: uppercase;
	}
	.button__item_big {
		width: 20%;
		height: 35px;
	}
	.btn__item_order {
		display: flex;
		color: #E51937;
		border: 2px solid #E51937;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
	}
	.character__item_small {
		margin: 0 auto;
	}
	.section-main__img_control-down {
		text-align: center;
	}

	/* Второй экран*/

	.section-desc_future-drive {
		display: flex;
		height: 900px;
	}
	.section-desc__wrap_little {
		flex: 1.39;
		height: 140px;
		color: #E51937;
		z-index: 1;
	}
	.section-desc {
		flex: .61;
	}
	.section-desc__title {
		letter-spacing: 1px;
		margin: 65px auto 0;
		width: 84%;
	}
	.item__interior {
		position: absolute;
		display: flex;
		z-index: 0;
		height: 900px;
		align-items: flex-end;
	}


	.text__wrap_main,
	.text__item {
		width: 76.5%;
	}
	.text__wrap_main {
		margin: 51px auto 0;
	}
	.text__item_1 {
		width: 78.5%;
	}
	.text__content {
		text-align: left;
		letter-spacing: .6px;
		margin-bottom: 55px;
	}
	.text__title {
		margin: 0;
		letter-spacing: .8px;
	}
	.text__item {
		display: flex;
		height: 70px;
		margin: 0 auto 30px;
	}
	.text__item_small {
		display: flex;
		align-items: center;
		margin-right: 18px;
	}
	.text__item_small1 {
		margin-right: 25px;
	}
	.text__wrap_character {
		margin-bottom: 165px;
	}

	.button {
		display: flex;
		margin: 0 auto;
		height: 39px;
		width: 79%;
	}
	.button_future-drive {
		display: flex;
		height: 44px;
	}
	.button__item_bigger {
		flex: 1;
		display: flex;
		align-items: center;
	}
	.button__item_icon {
		margin-right: 10px;
	}
	.text {
		z-index: 1;
		background-color: #E51937;
		color: #fff;
	}
	.link_color,
	.button__item_link1 {
		color: #fff;
	}
	.link_color {
		width: 100%;
		border: 2px solid #fff;
	}

	/* Третий экран*/

	.section-desc_safe-car {
		display: flex;
		height: 900px;
	}
	.section-desc__wrap_big {
		flex: 1.39;
		position: relative;
	}
	.text__features {
		width: 75%;
		margin: 0 auto 104px;
	}
	.text__subtitle {
		margin: 0 auto 26px;
	}
	.star {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		width: 89%;
		text-transform: uppercase;
	}
	.score {
		display: flex;
		width: 70%;
		margin: 0 auto 60px;
	}
	.score__item_icon {
		display: flex;
		align-items: center;
		margin-right: 25px;
	}


	.safe-body__item_corps {
		position: absolute;
    	right: 46px;
    	top: 222px;
    	z-index: 1;
	}
	.safe-body__item_modelS {
		position: absolute;
    	right: 0px;
    	top: 141px;
	}

	.item__line {
    	display: flex;
    	align-items: flex-start;
		position: absolute;
    	z-index: 3;
	}
	.item__line_long {
    	left: 170px;
    	top: 221px;
    	width: 24%;
	}
	.item__line_medium {
		right: 374px;
    	top: 173px;
    	width: 18%;
	}
	.item__line_small {
		bottom: 192px;
    	right: 248px;
    	width: 25%;
    	align-items: flex-end;
	}
	.item__icon {
		margin-right: 5px;
	}
/*}*/


@media (max-width: 1166px) {
	.header__menu {
		justify-content: flex-start;
	}
	.header__wrapper_link {
		margin-right: 20px;
	}
	.header__wrapper_item {
		margin-right: 80px;
	}
	.section-main__wrapper_character {
		width: 53%;
	}
}

@media (max-width: 1000px) {
	.header__wrapper_logo {
		margin-right: 35px;
	}
	.header__wrapper_link {
		margin-right: 12px;
	}
	.header__wrapper_item {
		margin-right: 60px;
	}

	.section-main__wrapper {
		display: block;
	}
	.section-main__wrapper_character {
		margin: 0 auto 30px;
		width: 73%;
		justify-content: space-around;
	}
	.btn_test-drive {
		margin: 0 auto;
		justify-content: flex-start;
		width: 53%;
	}
	.button__item_big {
    position: relative;
    margin: 0 auto;
	left: 108px;
    bottom: 31px;
	}
}

@media (max-width: 840px) {
	.button__item-big {
		left: 92px;
	}
}

@media (max-width: 768px) {
	body {
		max-width: 768px;
	}

	.section-desc_future-drive,
	.section-desc_safe-car {
		display: none;
	}


	.header {
		width: 96%;
		margin: 0 auto 50px;
		justify-content: space-between;
	}
	.header__wrapper {
		width: 75%;
	}
	.header__wrapper_logo {
		margin-right: 0;
	}
	.header__menu {
		height: 30px;
		width: 7%;
	}
	.header__wrapper_item,
	.header__wrapper_link {
		display: none;
	}
	.burger__icon {
		width: 34px;
		height: 3px;
		margin-bottom: 7px;
	}

	.section-main {
		height: 853px;
	}
	.section-main__title {
		margin-bottom: 3px;
	}
	.section-main__subtitle {
		margin-bottom: 89px;
	}

	.section-main__img {
		margin-bottom: 36px;
	}
	.section-main__modelS-logo {
		width: 91%;
	}
	.car-logo {
		width: 100%;
	}
	.section-main__logo {
		top: 256px;
		width: 100%;
	}
	.main-logo_big {
		width: 106%;
	}

	.section-main__wrapper {
		display: block;
		width: 65.5%;
		height: 214px;
		margin-bottom: 36px;
	}
	.section-main__wrapper_character {
		height: 84px;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 50px;
	}
	.character {
		width: 47%;
	}
	.character__item_icon {
		width: 38%;
	}
	.character__item_big {
		width: 65%;
	}
	.btn_test-drive {
		margin: 0;
		width: 48%;
		height: 56px;
		justify-content: center;
	}
	.btn__item_icon {
		width: 13%;
		margin-right: 15px;
	}
	.btn__item_big {
		display: flex;
		align-items: center;
	}
	.button__item_big {
		position: relative;
		background-color: #E51937;
		left: 99px;
		bottom: 56px;
		width: 44%;
		height: 55px;
		margin: 0 auto;
	}
	.btn__item_order {
		border: 0;
		color: #fff;
	}
}

@media (max-width: 700px) {
	.character__item_big {
		width: 75%;
	}
}

@media (max-width: 615px) {
	.character__item_big {
		width: 100%;
	}
}

@media (max-width: 565px) {
	.section-main__wrapper {
		width: 75.5%;
	}
	.section-main__wrapper_character {
		margin-bottom: 0;
		height: 75px;
	}
}

@media (max-width: 470px) {
	.section-main__wrapper_character {
		margin-bottom: 10px;
	}
	.character {
		width: 50%;
	}
	.button__item_big {
		width: 40%;
		height: 45px;
	}
}

@media (max-width: 375px) {
	body {
		max-width: 375px;
	}

	.header {
		margin: 0 auto 23px;
		width: 97%;
		height: auto;
	}
	.header__wrapper_logo {
		width: 35%;
	}
	.main-logo {
    	width: 133px;
		height: 50px;
	}
	.header__menu {
    	width: 15%;
		height: 21px;
    	justify-content: center;
	}
	.header__wrapper {
		width: 72%;
	}
	.burger__icon {
		width: 24px;
		height: 2px;
		margin-bottom: 5px;
	}

	.section-main__title {
		height: 54px;
	}
	.section-main__subtitle {
		margin-bottom: 50px;
	}
	.section-main__img {
		margin-bottom: 24px;
	}
	.section-main__modelS-logo {
		width: 95%;
	}
	.section-main__logo {
		top: 156px;
		right: 18px;
		width: 100%;
	}
	.main-logo_big {
		width: 113%;
	}

	.section-main__wrapper {
		width: 81.5%;
		height: 125px;
		margin: 0 auto 32px;
	}
	.section-main__wrapper_character {
		height: 47px;
		width: 100%;
		margin-bottom: 32px;
	}
	.character {
		width: 46%;
	}
	.btn_test-drive {
		width: 40%;
	}
	.btn__item_icon {
		width: 17%;
		margin-right: 8px;
	}
	.button__item_big {
		left: 72px;
		bottom: 49px;
		width: 52%;
		height: 40px;
		margin: 0 auto;
	}
}

@media (max-width: 327px) {
	.section-main__wrapper {
		width: 87.5%;
	}
	.character {
		width: 50%;
	}
	.button__item_big {
		width: 40%;
	}
}