body,
h1,
h2,
h3,
h4,
p { margin: 0; }

body {
  min-height: 100vh;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a { text-decoration: none; }

/* Desktop */

/* Шапка */
.header,
.header__menu,
.header__wrapper_item {
  display: flex;
  justify-content: space-between;
}

.header {
  align-items: center;
  height: 104px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.header__wrapper_logo {
  display: flex;
  justify-content: center;
  min-width: 167px;
  flex: .18;
}

.header__menu {
  height: 24px;
  flex: .675;
}

.header__wrapper_item {
  min-width: 360px;
  padding-left: 54px;
  flex: .353;
}

.header__link,
.header__wrapper_link,
.burger { padding-top: 2px; }

.header__link,
.header__wrapper_link,
.button__item_link { color: #000; }

.header__wrapper {
  display: flex;
  justify-content: center;
  min-width: 215px;
  flex: .232;
}

.header__wrapper_link { margin-right: 30px; }

.burger:hover { cursor: pointer; }

.burger__icon {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 4px;
  background-color: #e51937;
  border-radius: 0 0 5px 5px;
}

.header__link:first-child {
  border-bottom: 2px solid #e51937;
  border-radius: 2.5px;
  color: #e51937;
}

.header__link:hover,
.header__wrapper_link:hover,
.burger:hover { padding-top: 0; }

/* Первый экран */
.section-main {
  margin-bottom: 34px;
  background: url(./Project/tesla-wordmark-red_big.svg) no-repeat;
  background-position: top;
}

.section-main__title,
.section-main__subtitle { text-align: center; }

.section-main__title { height: 101px; }

.section-main__subtitle,
.section-main__img { margin-bottom: 26px; }

.section-main__modelS-logo { width: 95%; }

.car-logo,
.section-main__wrapper { margin: auto; }

.section-main__wrapper,
.section-main__item_info,
.section-main__item_btns,
.character,
.button,
.button__item_alt,
.button__item_big-order { display: flex; }

.section-main__wrapper,
.section-main__item_info { justify-content: space-between; }

.section-main__wrapper {
  min-width: 700px;
  width: 56%;
  margin-bottom: 32px;
}

.section-main__item_info { flex: .48; }

.character_right { padding-right: 5px; }

.character__item_icon,
.btn__item_icon { margin-right: 10px; }

.section-main__item_btns,
.btn__item_order,
.button__item_alt,
.button__item_big-order { align-items: center; }

.button__item_alt:hover { cursor: pointer; }

.button__item_alt:hover,
.btn__item_order:hover { padding-bottom: 2px; }

.section-main__item_btns { flex: .4; }

.btn_test-drive { min-width: 121px; }

.button__item_alt-right { width: 51%; }

.button__item_big-order {
  height: 38px;
  padding-left: 34px;
}

.btn__item_order,
.section-main__item_control-down {
  display: flex;
  justify-content: center;
}

.btn__item_order {
  width: 100%;
  height: inherit;
  border: 2px solid #e51937;
  color: #e51937;
}

.button__item_link,
.button__item_link-info { text-transform: uppercase; }

/* Второй экран */
.section-desc,
.text__wrap_character,
.text__item,
.text__item_small-wifi { display: flex; }

.section-desc,
.button { margin: auto; }

.section-desc {
  height: 900px;
}

.section-up {
  background: url(./Project/item_interior.svg) no-repeat;
  background-position: 1% 100%;
}

.section-desc__wrap_up {
  padding-top: 65px;
  color: #e51937;
}
.section-desc__wrap { flex: .695; }

.section-desc__title {
  padding-left: 82px;
  letter-spacing: 1px;
}

.text,
.button__item_link-info,
.button__item_link-white { color: #fff; }

.text {
  min-width: 360px;
  background-color: #e51937;
  flex: .305;
}

.text__wrap_main {
  margin-bottom: 65px;
  padding-left: 51px;
}

.text__wrap_title {
  margin-bottom: 11px;
  padding-top: 54px;
}

.text__content {
  width: 88%;
  letter-spacing: .6px;
}

.text__wrap_character {
  flex-direction: column;
  justify-content: space-between;
  height: 260px;
  margin-bottom: 170px;
  padding-left: 46px;
}

.text__item_small-screen,
.text__item_small-bag { padding: 5px 0 0 5px; }
.text__item_small-bag { margin-right: 24px; }

.text__item_small-screen,
.text__item_small-wifi { margin-right: 20px; }

.text__item_bag,
.text__item_small-wifi { padding-bottom: 4px; }

.button { justify-content: center; }

.button__item_big-right {
  width: 36%;
}

.button__item_icon { margin-right: 10px; }

.button__item_link-white { border: 2px solid #fff; }

/* Третий экран */
.section-down {
  position: relative;
  flex-direction: row-reverse;
}

.text__wrap_character-down,
.text__wrap_down { padding-left: 58px; }

.text__wrap_down {
  margin-bottom: 55px;
}

.text__wrap_character-down {
  height: 236px;
  margin-bottom: 109px;
}

.text__wrap_section,
.star,
.star__wrapper,
.score { display: flex; }

.text__wrap_section,
.star { justify-content: space-between; }

.text__wrap_section {
  flex-direction: column;
  width: 96%;
  height: 172px;
}

.star {
  width: 80%;
  min-width: 292px;
  text-transform: uppercase;
}

.star__item { margin-right: 3px; }

.score {
  margin-bottom: 41px;
  padding-left: 67px;
}

.score__item_text { padding-top: 5px; }

.score__item_icon {
  margin-right: 25px;
  padding-bottom: 19px;
}

.section-desc__wrap-down {
  background: url(./Project/modelS.svg) no-repeat;
  background-position: 99% 19%;
}

.safe-body__item_corps {
  position: relative;
  right: 93px;
  top: 172px;
  z-index: 1;
}

.item__icon_corps { max-width: 107%; }

/* Адаптив первой секции */

/* Desktop */
@media (max-width: 1245px) {
  .section-main__item_info { flex: .51; }
}

@media (max-width: 1130px) {
  .section-main {
    background-position: 0% 8%;
    background-size: contain;
  }

  .section-main__modelS-logo { width: auto; }
}

@media (max-width: 960px) {
  .header__wrapper_link { margin-right: 20px; }
}

@media (max-width: 900px) {
  .header { justify-content: space-around; }

  .header__wrapper { padding-right: 0; }
}

@media (max-width: 840px) {
  .header__wrapper_item { padding-left: 0; }
}

/* Планшет */
@media (max-width: 768px) {
  .header {
    width: 97%;
    height: 100px;
    margin-bottom: 55px;
  }

  .header__wrapper_logo { margin-right: auto; }

  .header__wrapper_item,
  .header__wrapper_link { display: none; }

  .header__wrapper {
    min-width: 0;
    flex: .155;
  }

  .burger__icon {
    height: 3px;
    width: 35px;
    margin-bottom: 7px;
    background-color: #e51937;
    border-radius: 0 0 5px 5px;
  }

  .section-main {
    background-position: 25% 17%;
    background-size: 111%;
  }

  .section-main__subtitle { margin-bottom: 89px; }

  .section-main__img { margin-bottom: 44px; }

  .car-logo { width: 91%; }

  .section-main__wrapper {
    flex-wrap: wrap;
    width: auto;
    min-width: 0;
    justify-content: space-around;
    margin-bottom: 56px;
  }

  .character,
  .section-main__item_info { justify-content: center; }

  .section-main__item_info,
  .section-main__item_btns { flex: none; }

  .section-main__item_info {
    width: 100%;
    margin-bottom: 48px;
  }

  .character {
    min-width: 180px;
    align-items: stretch;
    flex: .37;
  }

  .character,
  .btn_test-drive { margin-right: 0; }


  .character__item_icon { margin-right: 7px; }
  .character__item_icon-left { width: 27%; }
  .character__item_icon-right { width: 20%; }

  .button,
  .section-main__item_btns {
    justify-content: space-around;
    width: 64%;
    min-width: 350px;
    height: 63px;
  }

  .btn__wrap {
    width: 30px;
    height: 30px;
    background: url(./Project/steering-wheel-red.svg) no-repeat;
    background-size: contain;
    margin-right: 15px;
  }

  .btn_test-drive { padding-left: 14px; }

  .btn__item_icon { display: none; }

  .button__item_icon-main { width: 30px; }

  .button__item_link { color: #e51937; }

  .button__item_alt-right { padding-right: 15px; }

  .button__item_big-order {
    min-width: 145px;
    height: 52px;
    padding-left: 0;
    flex: .74;
  }

  .btn__item_order {
    background-color: #e51937;
    color: #fff;
  }
}

@media (max-width: 650px) {
  .header__wrapper { min-width: 60px; }

  .btn__wrap {
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }

  .button__item_big-order { height: 38px; }
}

@media (max-width: 510px) {
  .section-main { background-position: 26% 24%; }

  .btn__item_icon { margin-right: 5px; }

  .button__item_big { padding-left: 25px; }
}

/* Телефон */
@media (max-width: 375px) {
  .header {
    width: 99%;
    height: 47px;
    margin-bottom: 2px;
  }

  .header__wrapper_logo {
    justify-content: flex-start;
    min-width: 0;
    flex: .4;
  }

  .header__link-home { width: 91%; }

  .burger__icon {
    width: 23px;
    height: 2.5px;
    margin-bottom: 4px;
    border-radius: 0 0 6px 6px;
  }

  .section-main {
    margin-bottom: 0;
    background-position: 40% 28%;
    background-size: 114%;
  }

  .section-main__title { height: 81px; }

  .section-main__subtitle { margin-bottom: 46px; }

  .section-main__img { margin-bottom: 22px; }

  .car-logo { width: 96%; }

  .section-main__wrapper {
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .section-main__item_info {
    justify-content: space-around;
    width: 90%;
    margin-bottom: 30px;
  }

  .character {
    justify-content: center;
    align-items: center;
    min-width: 0;
    height: 48px;
    padding-top: 2px;
    flex: .44;
  }

  .character__item_big { padding-bottom: 8px; }

  .character__item_icon-left { width: 31%; }

  .character_left { padding-left: 4px; }

  .character_right { padding-right: 7px; }

  .section-main__item_btns { width: 96%; }

  .button__item_icon-main { width: auto; }

  .button__item_alt-right {
    height: 37px;
    padding-right: 12px;
    flex: .74;
  }
}

/* Адаптив второй секции */

/* Планшет */
@media (max-width: 768px) {
  .section-desc {
    display: block;
    width: auto;
    height: auto;
    background: 0;
  }

  .section-desc__wrap_up {
    height: 486px;
    padding-top: 45px;
    background: url(./Project/item_interior.svg) no-repeat;
    background-size: contain;
    background-position: 0 100%;
  }

  .section-desc__title {
    width: 94%;
    text-align: right;
    padding-left: 0;
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 485px;
  }

  .text__wrap_main {
    width: 45.5%;
    min-width: 268px;
    margin: 0;
    padding-left: 33px;
  }

  .text__wrap_title {
    margin-bottom: 17px;
    padding-top: 54px;
  }

  .text__content {
    height: 220px;
    margin: 0;
    padding-left: 2px;
    letter-spacing: .6px;
  }

  .text__wrap_character {
    margin: 0;
    padding-top: 54px;
    padding-left: 69px;
  }

  .text__wrap_character-up {
    height: 248px;
  }

  .text__item_bag,
  .text__item_small-wifi { padding-bottom: 0; }

  .text__item_small-screen,
  .text__item_small-bag { padding: 10px 0 0 2px; }
  .text__item_small-screen { margin-right: 20px; }
  .text__item_small-bag { margin-right: 25px; }

  .text__item_small-wifi { margin-right: 17px; }

  .button {
    align-items: center;
    margin: 0 auto;
    padding-bottom: 7px;
  }

  .button__item_icon {
    width: 30px;
    margin-right: 11px;
  }
}

@media (max-width: 650px) {
  .text__wrap_main,
  .text__wrap_character { padding-left: 20px; }

  .text__item_small-screen { margin-right: 13px; }

  .text__item_small-wifi { margin-right: 8px; }

  .text__item_small-bag { margin-right: 12px; }

  .text__item_icon { max-width: 80%; }

  .button__item_icon { width: auto; }
}

@media (max-width: 525px) {
  .section-desc__title,
  .text__wrap_character,
  .button { display: none; }


  .section-desc__wrap_up {
    background-size: cover;
    background-position: 0 5px;
  }

  .section-desc__wrap_up { padding-top: 0; }

  .text { height: 305px; }

  .text__wrap_main { width: auto; }

  .text__wrap_title {
    margin-bottom: 9px;
    padding-top: 17px;
  }
}

/* Телефон */
@media (max-width: 375px) {
  .section-desc { height: 626px; }

  .section-desc__title { display: none; }

  .section-desc__wrap_up {
    background-position: -35px 5px;
  }

  .text { min-width: 0; }

  .text__wrap_main {
    padding-left: 0;
  }

  .text__title {
    padding-left: 26px;
    letter-spacing: .6px;
  }

  .text__content {
    width: 85%;
    height: 238px;
    margin: auto;
    letter-spacing: .6px;
  }  
}

/* Адаптив третьей секции */

/* Desktop */
@media (max-width: 1400px) {
  .text__wrap_character-down,
  .text__wrap_down { padding-left: 40px; }

  .star__title { padding-top: 5px; }

  .score { padding-left: 45px; }

  .score__item_icon { margin-right: 15px; }
}

@media (max-width: 1220px) {
  .section-desc__wrap-down { background-size: contain; }

  .safe-body__item_corps { right: 70px; }
}

@media (max-width: 1150px) {
  .section-desc__wrap-down { background-position: 99% 23%; }

  .safe-body__item_corps {
    top: 200px;
    right: 60px;
  }
}

@media (max-width: 900px) {
  .safe-body__item_corps {
    top: 290px;
    right: 50px;
  }

  .section-desc__wrap-down { background-position: 99% 31%; }

  .item__icon_corps { max-width: 107%; }
}

/* Планшет */
@media (max-width: 768px) {
  .section-desc__wrap-down {
    height: 538px;
    background-position: 53% 16%;
    background-size: 76%;
  }

  .safe-body__item_corps {
    top: 75px;
    right: 18px;
  }

  .item__icon_corps { max-width: 98%; }

  .text__wrap_title-down {
    padding-top: 59px;
    margin-bottom: 10px;
  }

  .text__wrap_down { padding-left: 33px; }

  .text__content_down { height: 163px; }

  .text__wrap_character {
    justify-content: space-between;
    width: 38%;
  }

  .text__wrap_character-down {
    height: 238px;
    margin-bottom: 0;
    padding-top: 59px;
  }

  .text__wrap_subtitle,
  .text__wrap_section,
  .star,
  .star__item { width: auto; }

  .text__subtitle { padding-left: 0; }

  .text__wrap_section {
    height: 174px;
    margin: 0;
  }

  .star { min-width: 275px; }

  .star__item { margin-right: 4px; }

  .score { display: none; }
}

@media (max-width: 650px) {
  .text__wrap_down,
  .text__wrap_character-down { padding-left: 20px; }

  .star { min-width: 200px; }

  .star__item { margin-right: 0; }
}

@media (max-width: 600px) {
  .text__wrap_section { height: 160px; }

  .text__wrap_character-down { height: 220px; }

  .star__item {
    margin-right: 0;
    width: 20px;
  }
}

@media (max-width: 525px) {
  .section-desc__wrap { height: 321px; }

  .section-desc__wrap-down {
    background-position: 0 22%;
    background-size: 106%;
  }

  .safe-body__item_corps {
    top: 33px;
    right: 10px;
  }

  .item__icon_corps { max-width: 100%; }

  .text__wrap_title-down {
    width: 98%;
    margin-bottom: 9px;
    padding-top: 15px;
  }

  .text__content_donw { width: 74%; }
}

/* Телефон */
@media (max-width: 375px) {
  .section-desc__wrap-down { height: 294px; }

  .safe-body__item_corps { top: 54px; }

  .text__wrap_down { padding-left: 0; }

  .text__wrap_title-down { width: auto; }
}
